/* CAROUSEL */

.carousel {
    position: relative;
    max-width: 1230px;
    margin: 50px auto;
    overflow: hidden;
    
}

.carouselImages {
    display: flex;
    overflow: hidden;
    gap: 15px;
}

.carouselImages a {
    text-decoration:none;
}

.carouselLink {
    display: block;
    width: 400px;
    text-align: center;
    flex: 0 0 auto;
}

.carouselImages img {
    width: 100%;
    display: block;
    border:#f5c2e7 solid 10px;
    border-radius: 70px;
    opacity: .9;
    transition: .5s;
}

    .carouselImages img:hover {
        
        border:#f5c2e7 solid 10px;
        border-radius: 85px;
        opacity: 1;
    }

.imageTitle {
    color: #252a34;
    background-color: #f5c2e7;
    border: #f5e1f7 solid 3pt;
    border-radius: 10px;
    padding: 10px 15px;
    margin: auto;
    text-decoration: none;
    font-weight: bold;
    
}

button.prev {
    position: absolute;
    left: 20px;
    top: 38%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 15px;
    padding: 10pt 15pt;
    color: #252a34;
    font-size: 20pt; 
    bborder:#252a34 solid 5px;
    border-radius: 70px;
    transition: .5s;
}

button.next {
    position: absolute;
    right: 20px;
    top: 38%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 15px;
    padding: 10pt 15pt;
    color: #252a34;
    font-size: 20pt;
    bborder: #252a34 solid 5px;
    border-radius: 70px;
    transition: .5s;
}

button.prev:hover {
    background-color: #f5e1f7;
    
}

button.next:hover {
    background-color: #f5e1f7;
    
}