

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Spicy Rice", serif;
    font-size: 26pt;
}

body {
    font-family: "Raleway", sans-serif;
    color: #333;
    background-color: #fff;
}

.main {
    text-align: center;
    padding: 4rem 0;
    background-color: #f5e1f7;
    color: #252a34;
}

footer {
    background-color: #252a34;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}


/* HEADER */

header {
    background-color: #f5c2e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

    .logo {
        font-family: "Spicy Rice", serif;
        color: #ffffff;
        font-size: 24pt;
        border: #f5e1f7 solid 3pt;
        border-radius: 15px;
        background-color: #f5e1f7;
        padding: 0px 10px;
        padding-left: 15px;
    }

    .sublogo {
        font-family: "Spicy Rice", serif;
        color: #252a34;
        font-size: 24pt;
        position: absolute;
        left: 33px;

    }

    .logo a {
        text-decoration: none;
        color: #ffffff;
    }

    nav ul {
        list-style: none;
        display: flex;
        border: #f5e1f7 solid 3pt;
        border-radius: 15px;
        background-color: #f5e1f7;
        padding: 10px 10px;
    }

        nav ul li {
            padding: 0 15px;

        }

        nav ul li a {
            text-decoration: none;
            color: #252a34;
            font-weight: bold;
            transition: .5s;
        }

        nav ul li a:hover {
            font-size: 12.5pt;
        }

    .headerIcons {
        display: flex;
        border: #f5e1f7 solid 3pt;
        border-radius: 15px;
        background-color: #f5e1f7;
    }

    .headerIcons .icon {
        padding: 5px 10px;
        font-size: 18pt;
        transition: .5s;
    }
    
    .headerIcons .icon:hover {
        font-size: 19pt;
    }

    .search-container {
        position: absolute;
        top: 60px; /* Adjust based on your header's height */
        right: 10px;
        width: 0;
        overflow: hidden;
        transition: width 0.5s ease;
        z-index: 1000; /* Ensure it's above other content */
        background: white;
        border: 1px solid #ccc;
    }
    
    .search-input {
        border: none;
        padding: 8px 10px;
        width: 100%;
        box-sizing: border-box;
    }
    
    .results-container {
        position: absolute;
        top: 100%;
        width: 100%;
        background: white;
        border: 1px solid #ccc;
        display: none;
    }
    
    .results-container div {
        padding: 8px;
        cursor: pointer;
    }
    
    .results-container div:hover {
        background-color: #f0f0f0;
    }

    .search-button {
        padding: 8px 10px;
        border: none;
        background-color: #ef5fb3;
        color: white;
        cursor: pointer;
        border-left: 1px solid #ccc; /* visually connects the button with the input */
    }
    
    .search-button:hover {
        background-color: #d491af;
    }
    
    
